@use '../mixins/mixins.scss' as *;

@include b(circle-progress) {
  position: relative;

  /* canvas 进度条 start */
  @include e(canvas) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* canvas 进度条 end */

  /* 进度值 start */
  @include e(precent-value) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* 进度值 end */
}
