@use '../mixins/mixins.scss' as *;

@include b(tabs-item) {
  flex: 1;
  position: relative;
  font-weight: normal;
  height: 100%;

  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  /* 允许滚动下的元素 start */
  @include m(scroll) {
    flex: auto;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0rpx 30rpx;
  }
  /* 允许滚动下的元素 end */

  /* 是否加粗 start */
  @include m(bold) {
    font-weight: 800;
  }
  /* 是否加粗 end */

  /* 内容 start */
  @include e(content) {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__value {
      position: relative;
    }
  }
  /* 内容 end */
}
